# Copyright (C) 2012 - 2014 Juan Manuel Borges Caño <juanmabcmail@gmail.com>

NOTES

# Executables
tools/xlc
tools/xld
tools/xlinfo
*.xlc
demos/xlvector
demos/xlvectorassign
demos/xlvectorcmp
demos/xlmatrix
demos/xlmatrixassign
demos/xlmatrixcmp
demos/xlc
demos/xld
demos/xlinfo
demos/xldatadirs
demos/xlstuff
demos/xlimage
demos/xlimagecube
demos/xlimagestring
demos/xlsurfacecube
demos/xlobjectstring
demos/xlcolors
demos/xlpoints
demos/xlpairs
demos/xlvectors
demos/xlobject
demos/xlmodel
demos/xlparticles
demos/xlcharacters
demos/xlport
demos/xlcity
apps/xlTerminal/xlTerminal
games/xlToyMachines/xlToyMachines
games/xlSpaceWars/xlSpaceWars
games/xlAdventure/xlAdventure
games/xlSoccer/xlSoccer
games/xlBasket/xlBasket

# Documentation

# Packages
xl-*.tar.bz2
openxl-*.tar.bz2
openxl-*.rpm
openxl-*.deb
openxl-*.pkg.tar.xz
openxl.spec
openxl.dsc
debian.rules
debian.changelog
debian.control
PKGBUILD

# Website
openxl.wiki

# Autotools
autoconf.macro/
autoconf.aux/
autom4te.cache/
compile
config.*
configure
depcomp
aclocal.m4
stamp-*
libtool
ltmain.sh
mingw32-config.cache
missing
install-sh
glib-gettextize
glib-zip
gtk-doc.make
py-compile
test-driver
INSTALL

# Development
Makefile.in
Makefile
TAGS
.libs
.deps
*.o
*.lo
*.a
*.la
xl.pc
.*.swp
.sw?
*.rc
*.gcno
*.gcda
*.gcov
*.sourcefiles
*.stp
*.out
*.exe
*.def
*.test 
*.log
*.trs
