# Copyright (C) 2012 - 2014 Juan Manuel Borges Caño <juanmabcmail@gmail.com>

NOTES

# Executables
tools/xlc
tools/xld
tools/xlinfo
*.xlc
demos/xlVector
demos/xlVectorAssign
demos/xlVectorCmp
demos/xlMatrix
demos/xlMatrixAssign
demos/xlMatrixCmp
demos/xlc
demos/xld
demos/xlinfo
demos/xldatadirs
demos/xlStuff
demos/xlImage
demos/xlImageCube
demos/xlImageString
demos/xlSurfaceCube
demos/xlObjectString
demos/xlColors
demos/xlPoints
demos/xlPairs
demos/xlVectors
demos/xlObject
demos/xlModel
demos/xlParticles
demos/xlCharacters
demos/xlPort
demos/xlCity
apps/xlTerminal/xlTerminal
games/xlToyMachines/xlToyMachines
games/xlSpaceWars/xlSpaceWars
games/xlAdventure/xlAdventure
games/xlSoccer/xlSoccer
games/xlBasket/xlBasket

# Documentation

# Packages
xl-*.tar.bz2
openxl-*.tar.bz2
openxl-*.rpm
openxl-*.deb
openxl-*.pkg.tar.xz
openxl.spec
openxl.dsc
debian.rules
debian.changelog
debian.control
PKGBUILD

# Website
openxl.wiki

# Autotools
autoconf.macro/
autoconf.aux/
autom4te.cache/
compile
config.*
configure
depcomp
aclocal.m4
stamp-*
libtool
ltmain.sh
mingw32-config.cache
missing
install-sh
glib-gettextize
glib-zip
gtk-doc.make
py-compile
test-driver
INSTALL

# Development
Makefile.in
Makefile
TAGS
.libs
.deps
*.o
*.lo
*.a
*.la
xl.pc
.*.swp
.sw?
*.rc
*.gcno
*.gcda
*.gcov
*.sourcefiles
*.stp
*.out
*.exe
*.def
*.test 
*.log
*.trs
